@model Dish

@{
    ViewData["Title"] = "New Dish";
}

<div class="d-flex flex-column justify-content-start">
    <form class="d-flex flex-column" asp-action="NewDish" method="post">
        <div class="col-12 d-flex flex-row">
            <div class="col-4 d-flex flex-column">
                <div class="form-group">
                    <label for="Name">Name of Dish</label>
                    <input type="text" class="form-control" asp-for="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Calories"># of Calories</label>
                    <input type="text" class="form-control" name="Calories">
                    <span asp-validation-for="Calories" class="text-danger"></span>
                </div>
            </div>
            <div class="col-4 d-flex flex-column">
                <label for="ChefID">Chef</label>
                <select class="form-control" asp-for="ChefID">
                    @foreach(Chef chef in ViewBag.AllChefs)
                    {
                        <option value="@chef.ChefID">@chef.FirstName @chef.LastName</option>
                    }
                </select>
                <span asp-validation-for="ChefID" class="text-danger"></span>
            </div>
            <div class="col-4 d-flex flex-column">
                <label for="Tastiness">Tastiness</label>
                <select class="form-control" asp-for="Tastiness">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                <span asp-validation-for="Tastiness" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12 d-flex flex-row">
            <div class="form-group col-6">
                <label for="Description">Description</label>
                <textarea class="form-control" asp-for="Description" rows="6"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="col-6 d-flex justify-content-center align-items-center">
                <button type="submit" class="btn btn-primary col-6">Add New Dish</button>
            </div>
        </div>
    </form>
</div>